
.mytitle {
    color: white;
    text-align: center;
    background-image: url('http://www.forest.go.kr/newkfsweb/cmm/fms/FileDown.do?atchFileId=FILE_000000010008639&fileSn=0');
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 200px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 이거는 h1에 아래에 margin 을 준겁니다. */
.mytitle>h1 {
    margin: 0 0 5px 0;
    font-family: 'Gamja Flower', cursive;
}

.mytitle>h5 {
    margin: 5px 0 0 0;
}
.total {
    width : 300px;
    margin : 50px auto 0 auto;
}